adf-dbx-lab/pipeline/pl_raw_to_curated_lab.json
{
	"name": "pl_raw_to_curated_lab",
	"properties": {
		"activities": [
			{
				"name": "Copy gen2 data from raw to curated",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "lab",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "da_gen2_millerinsurance",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "raw",
							"folder_name": "lab"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "da_gen2_millerinsurance",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "curated",
							"folder_name": "lab"
						}
					}
				]
			},
			{
				"name": "Get metadata from curated",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy gen2 data from raw to curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "da_gen2_millerinsurance",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "curated",
							"folder_name": "lab"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "pulling each csv 1 by 1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get metadata from curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get metadata from curated').output.childItems",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "adf-lab",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/adf-lab",
								"baseParameters": {
									"file_names": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adf_to_dbx_lab",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-24T16:45:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}