adf-dbx-lab/pipeline/pl_raw_to_bronze_broker_cdc.json
{
	"name": "pl_raw_to_bronze_broker_cdc",
	"properties": {
		"activities": [
			{
				"name": "onprem parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "onprem_params",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get raw data",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "onprem parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "da_gen2_millerinsurance",
						"type": "DatasetReference",
						"parameters": {
							"raw_container_name": {
								"value": "@activity('onprem parameters').output.value[0].raw_container_name",
								"type": "Expression"
							},
							"raw_folder_path": {
								"value": "@activity('onprem parameters').output.value[0].raw_folder_path",
								"type": "Expression"
							},
							"bronze_container_name": {
								"value": "@activity('onprem parameters').output.value[0].bronze_container_name",
								"type": "Expression"
							},
							"bronze_folder_path": {
								"value": "@activity('onprem parameters').output.value[0].bronze_folder_path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachDt",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get raw data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get raw data').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If date is current date",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name, concat('dt=', formatDateTime(utcNow(), 'yyyy-MM-dd')))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ETL_cdc",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/Shared/ETL_cdc",
											"baseParameters": {
												"name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_adf_to_dbx_lab",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}